@font-face {
  font-family: "CentraNo2-Medium";
  src: url(../fonts/centra-no2/CentraNo2-Medium.ttf);
}

@font-face {
  font-family: "CentraNo2-MediumItalic";
  src: url(../fonts/centra-no2/CentraNo2-MediumItalic.ttf);
}

@font-face {
  font-family: "CentraNo2-Black";
  src: url(../fonts/centra-no2/CentraNo2-Black.ttf);
}

@font-face {
  font-family: "CentraNo2-BlackItalic";
  src: url(../fonts/centra-no2/CentraNo2-BlackItalic.ttf);
}

@font-face {
  font-family: "CentraNo2-Bold";
  src: url(../fonts/centra-no2/CentraNo2-Bold.ttf);
}

@font-face {
  font-family: "CentraNo2-BoldItalic";
  src: url(../fonts/centra-no2/CentraNo2-BoldItalic.ttf);
}

@font-face {
  font-family: "CentraNo2-Book";
  src: url(../fonts/centra-no2/CentraNo2-Book.ttf);
}

@font-face {
  font-family: "CentraNo2-BookItalic";
  src: url(../fonts/centra-no2/CentraNo2-BookItalic.ttf);
}

@font-face {
  font-family: "CentraNo2-Extrabold";
  src: url(../fonts/centra-no2/CentraNo2-Extrabold.ttf);
}

@font-face {
  font-family: "CentraNo2-ExtraboldItalic";
  src: url(../fonts/centra-no2/CentraNo2-ExtraboldItalic.ttf);
}

@font-face {
  font-family: "CentraNo2-Hairline";
  src: url(../fonts/centra-no2/CentraNo2-Hairline.ttf);
}

@font-face {
  font-family: "CentraNo2-HairlineItalic";
  src: url(../fonts/centra-no2/CentraNo2-HairlineItalic.ttf);
}

@font-face {
  font-family: "CentraNo2-Light";
  src: url(../fonts/centra-no2/CentraNo2-Light.ttf);
}

@font-face {
  font-family: "CentraNo2-LightItalic";
  src: url(../fonts/centra-no2/CentraNo2-LightItalic.ttf);
}

@font-face {
  font-family: "CentraNo2-Thin";
  src: url(../fonts/centra-no2/CentraNo2-Thin.ttf);
}

@font-face {
  font-family: "CentraNo2-ThinItalic";
  src: url(../fonts/centra-no2/CentraNo2-ThinItalic.ttf);
}
